body {
  margin: 0 auto;
  width: 1280px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

h1 {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

h2 {
  text-align: center;
  margin: 0 0 30px 0;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: #445161;
  line-height: 36px;
}

h3 {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #445161;
  line-height: 30px;
}

h4 {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  line-height: 36px;
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 24px;
}

section {
  padding: 40px 50px 50px 50px;
}

header {
  height: 323px;
  padding: 50px;
  background-color: #445161;
}

header .item {
  margin-top: 30px;
}

header .item i {
  margin-right: 15px;
}

header .left_side {
  display: inline-block;
}

header .right_side {
  height: 214px;
  width: 469px;
  float: right;
  display: inline-block;
  background: #FFF;
}

.about {
  padding-top: 50px;
  height: 345px;
}

.about h2 {
  text-align: left;
}

.about .left_side {
  display: inline-block;
  width: 577px;
}

.about .right_side {
  height: 245px;
  width: 430px;
  float: right;
  display: inline-block;
  background: #445161;
}

.product {
  height: 417px;
  background: #f5f5f5;
}

.product h2 {
  text-align: center;
}

.product i {
  margin-right: 9px;
  padding: 0 8px 0 7px;
  background: #445161;
  width: 32px;
  height: 32px;
  font-size: 29px;
  color: #fff;
}

.product .icon {
  float: left;
}

.product p {
  padding-right: 10px;
  font-size: 16px;
  margin: 0;
}

.product .text {
  margin-bottom: 25px;
  float: left;
  width: 549px;
}

.screenshots {
  height: 487px;
}

.screenshots h2 {
  text-align: center;
}

.screenshots p {
  margin: 10px 0 0 0;
}

.screenshots .image {
  float: left;
  width: 200px;
  height: 150px;
  background: #445161;
  margin-right: 15px;
}

.screenshots .text {
  min-height: 180px;
  float: left;
  width: 359px;
}

.reviews {
  height: 424px;
  background: #f5f5f5;
}

.reviews h2 {
  text-align: center;
}

.reviews .photo {
  border-radius: 50%;
  float: left;
  width: 75px;
  height: 75px;
  background: #445161;
  margin: 0 16px 0 16px;
}

.reviews .review {
  float: left;
  margin-bottom: 24px;
  min-height: 121px;
  width: 483px;
  background: #ebebeb;
}

.reviews p {
  padding: 10px 20px 10px 27px;
  margin: 0;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
}

.reviews a {
  margin-left: 27px;
  font-size: 14px;
  color: #989898;
  line-height: 18px;
}

.buy {
  height: 656px;
}

footer {
  height: 509px;
  background: #445161;
}

footer h2 {
  padding-top: 40px;
  color: #fff;
}

.buy .column {
  display: inline-block;
  vertical-align: bottom;
  width: 300px;
  margin-right: 45px;
  background: #445161;
  border-radius: 5px;
}

.buy .column h3 {
  text-align: center;
  color: #fff;
  margin: 15px;
}

.buy .prices {
  margin-left: 100px;
}

.buy h1 {
  text-align: center;
  padding: 15px;
  font-size: 40px;
  color: #445161;
  line-height: 30px;
}

.buy .price {
  margin-left: 3px;
  width: 294px;
  background-color: #FFF;
}

.buy ol {
  margin-bottom: 0;
}

.buy li {
  font-size: 14px;
  color: #fff;
  line-height: 24px;
}

.buy button {
  height: 40px;
  width: 260px;
  margin: 20px;
  border-radius: 5px;
  border: none;
  background: #fff;
  color: #445161;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

footer .feedback {
  height: 300px;
  float: left;
  width: 500px;
  text-align: center;
  margin-left: 249px;
}

footer .feedback input {
  padding-left: 10px;
  height: 40px;
  width: 500px;
  margin: 0 0 21px 0;
  border-radius: 5px;
  border: none;
  background: #fff;
  color: #445161;
  font-size: 18px;
  line-height: 18px;
}

footer .feedback textarea {
  margin: 0;
  padding: 10px;
  height: 170px;
  width: 500px;
  border-radius: 5px;
  border: none;
  background: #fff;
  color: #445161;
  font-size: 18px;
  line-height: 18px;
}

footer .feedback button {
  text-align: center;
  height: 40px;
  width: 140px;
  margin: 21px 0;
  border-radius: 5px;
  border: none;
  background: #fff;
  color: #445161;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

footer .soc {
  width: 300px;
  height: 300px;
  float: left;
}

footer .soc p {
  vertical-align: bottom;
  margin: 0 0 0 46px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

footer .soc i {
  color: #fff;
  font-size: 26px;
}
